html,
body,
#root,
.App {
  height: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.context-menu {
  background: white;
  /* border-style: solid; */
  border: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 10%);
  position: absolute;
  z-index: 10;
}

.context-menu button {
  border: none;
  display: block;
  padding: 0.5em 1em;
  width: 100%;
}

.context-menu button:hover {
  background: white;
}


body {
  height: 100%;
  width: 100%;
  /* position: fixed; */
  margin: 0px;
}

.fileUploader {
  width: 400px;
  height: 400px;
}
